.modal {
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: grey;
	top: 0;
	left: 0;
	opacity: .9;
	z-index: 10;
}

.modal-content {
	background-color: white;
	margin: 300px auto;
	height: 40%;
	width: 40%;
	text-align: center;
}

.wrapper {
	position: relative;
	z-index: 0;
}